.card {
  display: flex;
  flex-direction: column;
  max-width: 325px;
  max-height: 500px;
  border: 1px solid black;
}

.card__image {
  width: 325px;
  height: 328px;
  max-width: 325px;
  max-height: 328px;
  border-radius: 10px 10px 0 0;
}

.card__title {
  border-radius: 10px 10px 0 0;
}

.card__footer {
  overflow: hidden;
}
